@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.bit {
  font-family: "Bitcount", system-ui;
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.dance {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.lora{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.play {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-size: 25px;
}

.montser {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: conic-gradient(from var(--deg), #83e0eb, #487ef4, #532be0, #88d6ee);
  border-radius: inherit;
  z-index: 0;
  animation: autoRotate 2s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  border-radius: inherit;
  filter: blur(12px);
  z-index: -1;
}

@keyframes autoRotate {
  from {
    --deg: 0deg;
  }
  to {
    --deg: 360deg;
  }
}
